extends layout 

block content 
  h1= title 
  form(method="POST")
    .form-group
      .inputContainer
        label(for="username") Username:
        input#username(type="text", name='username', required)
      .inputContainer
        label(for="password") Password:
        input#password(type="text", name='password', required)
      button.btn.btn-primary(type='submit') Log In
  br
  br
  if error 
    p= error.msg